html {
	height: 100%;
	padding-bottom: 1px; /* force scrollbars */
}
body
{
	font: normal 100% Arial, Tahoma, Helvetica, sans-serif;
	padding:0;
	margin:0 ;
	
}
p
{
	margin:0;	
}
header
{
	background:#000;
	height:140px;	
}
.hvp-web-width
{
	width:980px;
	margin:0 auto;
}
.hvp-left
{
	float:left;	
}
.hvp-right
{
	float:right;	
}
.hvp-clearer
{
	clear:both;	
}
a
{
	text-decoration:none;
}
/*Header*/
#hvp-logo
{
	margin:28px 0;	
}
#mainmenu
{
	position:absolute;	
	list-style:none;
	margin: 50px 0 50px 390px;
	padding:0;
	width:595px;
}
#mainmenu li
{
	float:left;
	padding:10px 30px;
}
#mainmenu li a
{
	color:#fff;	
}
#mainmenu ul
{
	list-style:none;
	display:none;	
	position:absolute;
	background:#000;;
	padding:0;
	width:200px;
}
#mainmenu ul li
{
	padding:10px;
	width:200px;	
}
#mainmenu ul li ul
{
	margin-left:185px;
	top:0;
}
#mainmenu-icon
{
	display:none;	
}
nav
{
	background:#D52B1E;
	padding:10px;
	color:#fff;
	font-size:2em;
	border-top:#fff 2px solid;
}
nav a
{
	color:#fff;
	
}
section
{
	padding:10px;
	text-align:justify;
}
/* Footer*/
footer
{
	background:#000;
	color:#fff;
	border-top:#D52B1E 2px solid;
	padding:20px;
}
footer a
{
	color:#fff;	
}
@media only screen and ( max-width: 640px ) {
#hvp-logo
{
	width:100%;	
}
.hvp-web-width
{
	width:auto;	
}
header
{
	height:auto;
	
}
#mainmenu
{
	display:none	
}
#mainmenu-icon
{
	display:block;	
	width:50px;
	position:fixed;
	right:10px;
	top:50px;
	opacity:0.7;
	cursor:pointer;
}
#mainmenu
{
	position:fixed;	
	list-style:none;
	margin: 0;
	padding:0;
	width:100%;
	top:100px;
	background:#d52b1e ;
}
#mainmenu li
{
	float:none;
	padding:10px 30px;
}
#mainmenu li a
{
	color:#fff;	
}
#mainmenu ul
{
	list-style:none;
	display:block;	
	position:relative;
	background:#d52b1e;;
	padding:0;
	width:100%;
}
#mainmenu ul li
{
	padding:10px;
	width:200px;	
}
#mainmenu ul li ul
{
	margin-left:0;;
	top:0;
}
}